<html>
<head>
    <style>
        .message{
            text-align: center;
            font-family: "Roboto Light",serif;
            font-size: 25px;
        }
    </style>
    <title>Home</title>
</head>

<body>
    <div class="message">
        Student:
        {{name}}
        {{lastName}}
        {{group}}
        {{var}}
    </div>
</body>
</html>