<html>
<head>
    <title>entities</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .center {
            text-align: center;
            font-family: "Roboto Light",serif;
            font-size: 25px;
        }
    </style>
</head>

<body class="center">
    <div>
        <p>Узнать автора по ID книги</p>
        <form method="get" action="/entities/book/getAuthor">
            <input type="text" name="bookId" placeholder="Введите ID книги" />
            <button type="submit">Узнать</button>
        </form>
    </div>
    {{#result}}
    <p>Автор книги: {{result}}</p>
    {{/result}}
    <div>
        <p>Добавление книги</p>
        <form method="post" action="/entities/book">
            <input type="text" name="name" placeholder="Введите название книги" />
            <input type="text" name="authorId" placeholder="Введите ID автора" />
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div>
        <p>Удаление книги</p>
        <form method="post" action="/entities/book/del">
            <input type="text" name="name" placeholder="Введите название книги" />
            <button type="submit">Удалить</button>
        </form>
    </div>
    <br>
    {{#books}}
    <div>
        <i><b>id</b>:{{id}}</i>
        <i><b>authorId</b>:{{author.id}}</i>
        <i><b>name</b>:{{name}}</i>
        <i><b>creation date</b>:{{creationDate}}</i>
    </div>
    {{/books}}

    <hr>
    <br>
    <div>
        <p>Добавление автора</p>
        <form method="post" action="/entities/author">
            <input type="text" name="firstName" placeholder="Введите имя автора" />
            <input type="text" name="lastName" placeholder="Введите фамилию автора" />
            <input type="text" name="middleName" placeholder="Введите отчество автора" />
            <input type="text" name="birthDate" placeholder="Введите день рождения автора" />
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div>
        <p>Удаление автора</p>
        <form method="post" action="/entities/author/del">
            <input type="text" name="id" placeholder="Введите ID автора" />
            <button type="submit">Ликвидировать</button>
        </form>
    </div>
    <br>
    {{#authors}}
    <div>
        <i><b>id</b>:{{id}}</i>
        <i><b>first name</b>:{{firstName}}</i>
        <i><b>last name</b>:{{lastName}}</i>
        <i><b>middle name</b>:{{middleName}}</i>
        <i><b>birth date</b>:{{birthDate}}</i>
    </div>
    {{/authors}}

</body>
</html>